            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
              <div class="home__data wow fadeInDown" data-wow-duration="2s" data-wow-delay=".5s">
                  <h1 class="home__title ">Hi,<br>I'am <span class="home__title-color">Khouloud</span><br> </h1>

                  <a href="https://drive.google.com/file/d/1xOSfVNinR9RPNlknLLgKCihGQHOwcMy0/view?usp=drive_link" class="button wow fadeInDown"
                  target="_blank" data-wow-duration="2s" data-wow-delay=".6s">Download CV</a>
              </div>

              <div class="home__social">
                 
              </div>

              <div class="home__img wow fadeInDown" data-wow-duration="3s" data-wow-delay=".5s">

                <img src="assets/img/shape.png" alt="">

              </div>
          </section>


